{% extends "base.html" %}
{% block title %}<title>Home</title>{% endblock %}

{% block content %}
<h1>Home</h1>
<div class="col-lg-6 col-xxl-4 my-5 mx-auto">
  <div class="d-grid gap-2">
    <a href="{{url_for('home')}}">
      <button class="btn btn-primary" type="button">Assign</button> </a>
    <a href="{{url_for('home')}}">
      <button class="btn btn-primary" type="button">Assign</button> </a>
    <a href="{{url_for('home')}}">
      <button class="btn btn-primary" type="button">Assign</button> </a>
    <a href="{{url_for('register')}}">
      <button class="btn btn-primary" type="button">Register a User</button> </a>

  </div>
</div>

{% endblock %}