{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}<title>Login</title>{% endblock %}

{% block content %}

<body class="text-center">

<main class="form-signin">
  <form action="" method="post" novalidate>
    <img class="mb-4" src="{{ url_for('static', filename='images/sign-up.svg')}}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="flex">

         {{ form.hidden_tag()}}
          <p>
            {{form.email.label}} <br> {{form.email(size=32)}}<br>
          </p>
          <p>
            {{form.password.label}} <br> {{form.password(size=32)}}<br>
          </p>
        <p>{{form.submit}}</p>
        </div>


  </form>
</main>





</body>



{% endblock %}